.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
venv2/

.vscode/
.idea/

.env
.env.*
!.env.example
!project/.env.example

data/
qdrant_db/
