LLM_MODEL=""
LLM_TEMPERATURE=
LLM_BASE_URL=""
LLM_API_KEY=""
DENSE_MODEL="nomic-embed-text"
DENSE_VECTOR_SIZE=768
SPARSE_MODEL="Qdrant/bm25"
OLLAMA_HOST="http://127.0.0.1:11434"
APP_HOST="127.0.0.1"
APP_PORT=7860
APP_AUTO_RELOAD=true
LANGFUSE_ENABLED=
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""
LLAMA_CLOUD_API_KEY=""
RERANKER_TYPE=""
CROSS_ENCODER_RERANKER_MODEL=""
CROSS_ENCODER_LOCAL_FILES_ONLY=true
